VITE_API_BASE_URL=/api
VITE_PUBLIC_DASHBOARD_URL=https://grafana.example.com/public-dashboard
VITE_ADMIN_HOME_DASHBOARD_URL=https://grafana.example.com/admin-home
VITE_ADMIN_TELEMETRY_DASHBOARD_URL=https://grafana.example.com/telemetrias
VITE_ADMIN_SECURITY_DASHBOARD_URL=https://grafana.example.com/seguridad
VITE_ADMIN_USAGE_DASHBOARD_URL=https://grafana.example.com/uso
VITE_CHATBOT_URL=https://chat.example.com

VITE_DEV_API_TARGET=http://localhost:8000
