# DEPORTEData Backend — Variables de entorno
# No se necesita .env si pasas las variables via docker run -e

# Version Backend GHCR (imágenes)
GHCR_USER=criscros
BACKEND_IMAGE_TAG=latest
IA_SERVICE_IMAGE_TAG=latest

#  Uso de imagenes GHCR especificas
#  BACKEND_IMAGE_TAG=backend_vX.X.X
#  IA_SERVICE_IMAGE_TAG=ia-service-vX.X.X

# Proyecto (Nombre del grupo o proyecto)
NOM_USER_ID=Nombre_del_grupo_o_proyecto

# Spark Master (para spark-submit del backend)
# IP PRIVADA de EC2-master dentro de la VPC del Learner Lab
SPARK_MASTER_IP=123.45.67.890

# S3
S3_BUCKET_DATALAKE=nombre-del-bucket
AWS_REGION=us-east-1

# RDS MySQL
DB_HOST=<endpoint-rds>.rds.amazonaws.com
DB_PORT=3306
DB_USER=nombre
DB_PASSWORD=<tu-password>
DB_NAME=nombre_database
NAME_TABLE_USERS=nombre_tabla_de_usuarios

# Auth JWT 
JWT_SECRET_KEY=<cambiar-por-uno-aleatorio-largo>
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60

# Puertos
PUBLIC_API_PORT=8000
PRIVATE_API_PORT=8001

# IA Service (visto desde el backend)
IA_SERVICE_URL=http://ia-service:8100

# Ollama / ChromaDB (visto desde ia-service)
OLLAMA_URL=http://ollama:11434
OLLAMA_MODEL=qwen2.5:3b-instruct-q4_K_M
OLLAMA_TEMPERATURE=0.2
OLLAMA_TIMEOUT_SECONDS=90
CHROMA_HOST=chromadb
CHROMA_PORT=8000
CHROMA_COLLECTION=deportedata_docs
TOXIC_THRESHOLD=0.5
DATA_JSON_DIR=/data_json

# AWS Credentials (Learner Lab -> AWS Details -> Show)
# CAMBIAR ESTOS VALORES cada vez que se reinicie el Lab
AWS_ACCESS_KEY_ID=CAMBIAR_AQUI
AWS_SECRET_ACCESS_KEY=CAMBIAR_AQUI
AWS_SESSION_TOKEN=CAMBIAR_AQUI