# ============================================================
# DEPORTEData Backend — Variables de entorno
# No necesitas .env si pasas las variables via docker run -e
# ============================================================
# -- Version Backend --
VERSION_GHCR_BACKEND=backend_v0.1.0

# --- Proyecto (Nombre del grupo o proyecto)---
NOM_USER_ID=Nombre_del_grupo_o_proyecto

# --- Spark Master ---
SPARK_MASTER_IP=123.45.67.890

# --- S3 ---
S3_BUCKET_DATALAKE=nombre-del-bucket
AWS_REGION=us-east-1

# --- RDS MySQL ---
DB_HOST=nombre-db.xxx.rds.amazonaws.com
DB_PORT=1234
DB_NAME=nombre db
DB_USER=nombre
DB_PASSWORD=changeme

# --- Auth JWT ---
JWT_SECRET_KEY=clave-secreta
JWT_ALGORITHM=XXXXX
JWT_EXPIRE_MINUTES=60

# --- AWS Credentials (Learner Lab -> AWS Details -> Show) ---
# CAMBIA ESTOS VALORES cada vez que reinicies el Lab
AWS_ACCESS_KEY_ID=CAMBIAR_AQUI
AWS_SECRET_ACCESS_KEY=CAMBIAR_AQUI
AWS_SESSION_TOKEN=CAMBIAR_AQUI